/* Variables */
:root {
  --primary: #0870a5;
  --primary-half: #0871a581;
  --primary-third: #0871a5be;
  --secondary: #6FB6D2;
  --secondary-half: #6FB6D281;
  --success: #5FBE00;
  --info: #015079;
  --warning: #EE9E90;
  --danger: #E75854;
  --dark: #242223;
  --light: #e9cabe;
  --light--half: #e9cabe81;
  --offwhite: #dee2e6;
  --white: #f6f8f9;
  --white-half: #f6f8f981;
  --white-third: #f6f8f9be;
  --black: #000;
  --shadow: #00000015;
  
  --font-first: 'Ubuntu', Verdana, Geneva, Tahoma, sans-serif;
  --font-second: 'Raleway', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Box Model Fix */
*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
  width: 100%;

  /* for ScrollSpy and Nav */
  position: relative !important;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
  /* @-ms-viewport {
    width: device-width;
  } */

body {
  margin: 0;
  width: 100%;
  /* min-height: 100%; */
  font-family: var(--font-first);
  font-style: light;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.5;
  letter-spacing: 0.08rem;
  color: var(--offwhite);
  text-align: left;

  /* for the ScrollSpy */
  position: relative;

  /* for the sticky footer */
  margin-bottom: var(--footer-h);

  /* backgroung with a gradient */
  background-color: var(--primary); /* fallback color */
  background: linear-gradient(125deg,
              var(--primary) 5%, var(--info) 20%, var(--primary) 35%, var(--info) 50%, var(--primary) 65%, var(--info) 80%, var(--primary) 95%), 
              center center/cover no-repeat;
  background: -moz-linear-gradient(125deg,
              var(--primary) 5%, var(--info) 20%, var(--primary) 35%, var(--info) 50%, var(--primary) 65%, var(--info) 80%, var(--primary) 95%), 
              center center/cover no-repeat;
  background: -webkit-linear-gradient(125deg,
              var(--primary) 5%, var(--info) 20%, var(--primary) 35%, var(--info) 50%, var(--primary) 65%, var(--info) 80%, var(--primary) 95%), 
              center center/cover no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

a {
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--white);
  margin: 0;
}

p {
  font-size: 0.9rem;
  font-family: var(--font-second);
}
  @media (min-width: 48rem) {
    p {
      font-size: 1rem;
    }
  }

/* BEMs */

/* Navbar */

.nav {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  padding: 0.25rem;
  margin: 0;
  list-style: none;
  color: var(--white);
}
  @media (min-width: 62rem) {
    .nav {
      padding: 0.5rem 1rem;
    }
  }
  .nav--scrolled {
    background: var(--primary); /* fallback color */
    background: linear-gradient(135deg, 
                var(--light) 59%, var(--info) 58%, var(--primary) 90%);
    background: -moz-linear-gradient(-45deg, 
                var(--light) 59%, var(--info) 58%, var(--primary) 90%);
    background: -webkit-linear-gradient(-45deg, 
                var(--light) 59%, var(--info) 58%, var(--primary) 90%);
  /* background on scroll */
    -webkit-transition: all 1s linear;
       -moz-transition: all 1s linear;
        -ms-transition: all 1s linear;
         -o-transition: all 1s linear;
            transition: all 1s linear;
            
  }
  @media screen and (prefers-reduced-motion: reduce) {
    .nav--scrolled {
      -webkit-transition: none;
         -moz-transition: none;
          -ms-transition: none;
           -o-transition: none;
              transition: none;
    }
  }
  .nav--shadow {
    box-shadow: 0 0.5rem 1rem var(--shadow) !important;
  }

.nav__container {
  width: 100%;
  padding: 0.25rem;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
}
  @media (min-width: 48rem) {
    .nav__container {
      flex-flow: row nowrap;
      align-items: center;
    }
  }

.nav__logo > h3 {
  display: inline-block;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin: 0 1rem;
  color: var(--white);
  font-weight: 200;
  font-size: 1.5rem;
  text-decoration: none;
  letter-spacing: 0.02rem;
  line-height: inherit;
  white-space: nowrap;
}
  @media (min-width: 48rem) {
    .nav__logo > h3 {
      font-size: 1.75rem;
    }
  }
  @media (min-width: 75rem) {
    .nav__logo > h3 {
      font-size: 2rem;
    }
  }
  .nav__logo--name {
    color: var(--danger);
    font-weight: bolder;
  }

/* Animated Hamburger Icon */

.nav__hamburger {
  --color: var(--white-half) !important;

  padding: 0.25rem;
  margin: 0.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}
  @media (min-width: 48rem) {
    .nav__hamburger {
      display: none;
      padding: 0.75rem;
    }
  }
  .nav__hamburger:focus,
  .nav__hamburger:hover {
    outline: none;
    border: thin solid var(--primary);
    text-decoration: none;
  }

.nav__hamburger {
  position: relative;
  align-self: center;
  margin: 0px;
  -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
       -o-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
     -moz-transition: .5s ease-in-out;
      -ms-transition: .5s ease-in-out;
       -o-transition: .5s ease-in-out;
          transition: .5s ease-in-out;
  cursor: pointer; 
}
@media screen and (prefers-reduced-motion: reduce) {
  .nav__hamburger {
    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none;
  }
}

/* Collapsing of nav menu */

.nav__menu--collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.35s ease;
     -moz-transition: all 0.35s ease;
      -ms-transition: all 0.35s ease;
       -o-transition: all 0.35s ease;
          transition: all 0.35s ease;
}
  @media screen and (prefers-reduced-motion: reduce) {
    .nav__menu--collapse {
      -webkit-transition: none;
         -moz-transition: none;
          -ms-transition: none;
           -o-transition: none;
              transition: none;
    }
  }
  @media (min-width: 48rem) {
    .nav__menu--collapse {
      height: auto;
    }
  }

/* Full Navbar Menu */

.nav__menu {
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  flex-direction: column;
  padding-left: 0;
  margin-left: auto !important;
  margin-bottom: 0;
  list-style: none;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
  @media (min-width: 48rem) {
    .nav__menu {
      display: flex !important;
      flex-basis: auto;
      flex-grow: 0;
      flex-direction: row;
    }
  }

.nav-link {
  display: block;
  padding: 0.25rem 1rem;
  color: var(--primary);
  text-decoration: none;
  font-size: 0.9rem;
  font-family: var(--font-second);
}
  @media (min-width: 48rem) {
    .nav-link {
      padding-right: 0.75rem;
      padding-left: 0.75rem;
      color: var(--white-half);
      font-size: 1rem;
    }
  }
  .nav-link:hover,
  .nav-link:focus {
    color: var(--white-third);
  }
  .nav-link--active,
  .nav-link.active,
  .nav-link.show {
    color: var(--white);
  }
  
  /* Scroll Spy */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    -webkit-clip: rect(0, 0, 0, 0);
       -moz-clip: rect(0, 0, 0, 0);
            clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  .sr-only-focusable:active, .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    -webkit-clip: auto;
       -moz-clip: auto;
            clip: auto;
    white-space: normal;
  }

/* Scroll Indicator */

.nav__scrolling {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  height: 3px;
  background: var(--danger);
  width: 0%;
}

/* ScrollSpy indicator */

.active {
  color: var(--white);
}
body#scrollSpy {
  position: relative;
}


/* Jumbotron */

.jumbotron {
  min-height: 90vh;
  width: 100vw;
  text-align: center;
  padding: 10rem 1rem 2rem 1rem;
  margin-bottom: 2rem;

  /* background with a gradient */
  background-color: var(--light); /* fallback color */
  background: linear-gradient(217deg, rgba(238, 158, 144, 1), rgba(233, 202, 190,0.7) 50.71%),
              linear-gradient(127deg, rgba(236, 170, 150, 1), rgba(233, 202, 190,0.7) 60.71%),
              linear-gradient(336deg, rgba(233, 202, 190, 0.6), rgba(233, 202, 190,1) 90.71%), 
              center center/cover no-repeat;
  background: -moz-linear-gradient(217deg, rgba(238, 158, 144, 1), rgba(233, 202, 190,0.7) 50.71%),
              -moz-linear-gradient(127deg, rgba(236, 170, 150, 1), rgba(233, 202, 190,0.7) 60.71%),
              -moz-linear-gradient(336deg, rgba(233, 202, 190, 0.6), rgba(233, 202, 190,1) 90.71%), 
              center center/cover no-repeat;
  background: -webkit-linear-gradient(217deg, rgba(238, 158, 144, 1), rgba(233, 202, 190,0.7) 50.71%),
              -webkit-linear-gradient(127deg, rgba(236, 170, 150, 1), rgba(233, 202, 190,0.7) 60.71%),
              -webkit-linear-gradient(336deg, rgba(233, 202, 190, 0.6), rgba(233, 202, 190,1) 90.71%), 
              center center/cover no-repeat;
  color: var(--info);
  -webkit-clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
     -moz-clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
          clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
  box-shadow: 0 1rem 3rem var(--shadow);
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
  @media (min-width: 36rem) {
    .jumbotron {
      padding: 12rem 1.5rem 5rem 1.5rem;
      margin-bottom: 3rem;
      -webkit-clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
         -moz-clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
              clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
    }
  }

  .jumbotron__h1 {
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    text-transform: uppercase;
    font-size: 3.25rem;
    font-weight: bolder;
    line-height: 1.35;
    letter-spacing: .2rem;
    word-spacing: .2rem;
    box-shadow: 0 0.125rem 0.25rem var(--shadow);
    color: var(--white);
    background: var(--danger);
  }
    @media (min-width: 48rem) {
      .jumbotron__h1 {
        font-size: 4.25rem;
      }
    }
    @media (min-width: 75rem) {
      .jumbotron__h1 {
        font-size: 6.25rem;
      }
    }

  .jumbotron__h2 {
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.2;
    letter-spacing: .1rem;
    word-spacing: .1rem;
    box-shadow: 0 0.125rem 0.25rem var(--shadow);
    color: var(--white);
    background: var(--danger);
    z-index: 2;
  }
    @media (min-width: 48rem) {
      .jumbotron__h2 {
        font-size: 2.25rem;
      }
    }
    @media (min-width: 75rem) {
      .jumbotron__h2 {
        font-size: 2.75rem;
      }
    }

  .jumbotron__p {
    font-size: 1.15rem;
  }
    @media (min-width: 48rem) {
      .jumbotron__p {
        font-size: 1.25rem;
      }
    }
    @media (min-width: 75rem) {
      .jumbotron__p {
        font-size: 1.75rem;
      }
    }
    .jumbotron__p--CTA {
      color: var(--danger);
      font-weight: 600;
    }

  .jumbotron__btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.1rem;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    margin: 1rem 0.5rem;
    font-size: 1rem;
    color: var(--white);
    line-height: 1.5;
    -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out, 
                        border-color .2s ease-in-out, box-shadow .2s ease-in-out;
       -moz-transition: color .2s ease-in-out, background-color .2s ease-in-out, 
                        border-color .2s ease-in-out, box-shadow .2s ease-in-out;
        -ms-transition: color .2s ease-in-out, background-color .2s ease-in-out, 
                        border-color .2s ease-in-out, box-shadow .2s ease-in-out;
         -o-transition: color .2s ease-in-out, background-color .2s ease-in-out, 
                        border-color .2s ease-in-out, box-shadow .2s ease-in-out;
            transition: color .2s ease-in-out, background-color .2s ease-in-out, 
                        border-color .2s ease-in-out, box-shadow .2s ease-in-out;
                 text-decoration: none;
    -webkit-text-decoration-skip: objects;
    box-shadow: 0 1rem 3rem var(--shadow);
  }
    @media screen and (prefers-reduced-motion: reduce) {
      .jumbotron__btn {
        -webkit-transition: none;
           -moz-transition: none;
            -ms-transition: none;
             -o-transition: none;
                transition: none;
      }
    }
    .jumbotron__btn:hover,
    .jumbotron__btn:focus {
      outline: 0;
      cursor: pointer;
      background-color: transparent;
      -webkit-transform: translateY(-.3rem);
         -moz-transform: translateY(-.3rem);
          -ms-transform: translateY(-.3rem);
           -o-transform: translateY(-.3rem);
              transform: translateY(-.3rem);
    }
    .jumbotron__btn--primary {
      background-color: var(--primary);
    }
      .jumbotron__btn--primary:hover,
      .jumbotron__btn--primary:focus {
        color: var(--primary);
        border-color: var(--primary);
      }
    .jumbotron__btn--danger {
      background-color: var(--danger);
    }
      .jumbotron__btn--danger:hover,
      .jumbotron__btn--danger:focus {
        color: var(--danger);
        border-color: var(--danger);
      }


/* Sections */

/* PROJECTS */

.projects {
  margin: 0 auto;
  padding: 0;
  width: 100%;

  /* main grid for a section */
  --grid-min-size: 20rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--grid-min-size), 1fr));
  grid-auto-flow: row;
  grid-gap: 4rem;
}

.section__name {
  text-align: center;
  margin: 1.25rem 0.25rem;
}
.section__name--color {
  padding: 0;
  font-size: 1.5rem;
  font-weight: bolder;
  line-height: 1.2;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  word-spacing: 0.1rem;
  color: var(--light);
  background: linear-gradient(135deg,
              var(--offwhite) 7.5%, var(--light) 50%, var(--warning) 92.5%);
  background: -moz-linear-gradient(-45deg,
              var(--offwhite) 7.5%, var(--light) 50%, var(--warning) 92.5%);
  background: -webkit-linear-gradient(-45deg,
              var(--offwhite) 7.5%, var(--light) 50%, var(--warning) 92.5%);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
  @media (min-width: 48rem) {
    .section__name--color {
      font-size: 1.75rem;
      margin: 1.5rem 1rem;
    }
  }
  @media (min-width: 75rem) {
    .section__name--color {
      font-size: 2rem;
    }
  }

.card {
  /* grid for a card */
  display: grid;
  grid-template-columns: 1fr 10fr 1fr 10fr 1fr;
  grid-template-rows: minmax(1rem, auto);
  grid-template-areas: 
    "img img  img  img  img"
    " .  name name name  . "
    " .  date   .    .   . "
    " .  info info info  . "
    " .  role role role  . "
    " .  feat feat feat  . "
    " .  btnL   .  btnR  . ";
  grid-gap: 0.5rem;
  grid-auto-flow: row;
  grid-auto-rows: minmax(1rem, auto);
  justify-items: start;
  align-items: center;
  margin: 1rem 0;
}
  @media (min-width: 20rem) {
    .card {
      margin: 2rem 0;
      grid-gap: 1rem;
    }
  }
  @media (min-width: 36rem) {
    .card {
      grid-template-columns: 1fr 10fr 1fr 8fr 3fr 1fr;
      grid-template-rows: minmax(5rem, auto-fill) minmax(1rem, auto);
      grid-template-areas: 
      "img img  img  img  img  img"
      " .  name name date date  . "
      " .  info info feat feat  . "
      " .  role   .  feat feat  . "
      " .    .  btnL btnR  .    . ";
      grid-gap: 1.5rem;
    }
  }
  @media (min-width: 40rem) {
    .card {
      grid-template-columns: 1fr 16fr 8fr 1fr 1fr;
      grid-template-rows: repeat(3,minmax(1rem, min-content)) minmax(1rem, auto);
      grid-template-areas: 
        " .   name name date . "
        "img  img  info info . "
        "img  img  feat feat . "
        "img  img  role role . "
        "img  img  btnL btnR . ";
      grid-gap: 1.5rem;
      align-items: space-between;
    }
  }
  @media (min-width: 44rem) {
    .card {
      /* original grid for a card */
      grid-template-columns: 1fr 10fr 1fr 10fr 1fr;
      grid-template-rows: minmax(1rem, auto);
      grid-template-areas: 
        "img img  img  img  img"
        " .  name name name  . "
        " .  date   .    .   . "
        " .  info info info  . "
        " .  role role role  . "
        " .  feat feat feat  . "
        " .  btnL   .  btnR  . ";
      grid-auto-flow: row;
      grid-auto-rows: minmax(1rem, auto);
      justify-items: start;
      align-content: start;
    }
  }
  
  .card__screenshot {
    object-position: top;
    width: 100%;
    display: block;
    box-shadow: 0 1rem 3rem var(--shadow);

    /* grid-specific */
    grid-area: img;
    align-self: start;

    /* border */
    padding: 0.25rem;
    background-color: var(--light);
    background: linear-gradient(135deg,
                var(--offwhite) 7.5%, var(--light) 50%, var(--warning) 92.5%);
    background: -moz-linear-gradient(-45deg,
                var(--offwhite) 7.5%, var(--light) 50%, var(--warning) 92.5%);
    background: -webkit-linear-gradient(-45deg,
                var(--offwhite) 7.5%, var(--light) 50%, var(--warning) 92.5%);
    -webkit-background-clip: padding-box;
       -moz-background-clip: padding-box;
            background-clip: padding-box;
  }

    .card__name {
      text-transform: uppercase;
      font-size: 2rem;
      line-height: normal;
      margin: 1rem 0;
      justify-self: start;
      background: linear-gradient(135deg,
                  var(--offwhite) 7.5%, var(--light) 50%, var(--warning) 92.5%);
      background: -moz-linear-gradient(-45deg,
                  var(--offwhite) 7.5%, var(--light) 50%, var(--warning) 92.5%);
      background: -webkit-linear-gradient(-45deg,
                  var(--offwhite) 7.5%, var(--light) 50%, var(--warning) 92.5%);
      -webkit-background-clip: text;
         -moz-background-clip: text;
              background-clip: text;
      -webkit-text-fill-color: transparent;
      /* grid-specific */
      grid-area: name;
    }
    .card__info {
      margin: 0;
      justify-self: start;
      /* grid-specific */
      grid-area: info;
    }
    .card__roles {
      margin: 0;
      font-size: 1rem;
      color: var(--secondary);
      /* grid-specific */
      grid-area: role;
    }
    .card__date {
      margin: 0;
      color: var(--secondary);
      font-size: 0.85rem;
      /* grid-specific */
      grid-area: date;
      justify-self: start;
    }
      @media (min-width: 36em) {
        .card__date {
          justify-self: end;
          margin: 1rem 1rem 0 0;
        }
      }
      @media (min-width: 44rem) {
        .card__date {
          margin: 0;
          justify-self: start;
        }
      }

  .card__features {
    font-size: 0.9rem;
    font-family: var(--font-second);
    list-style: square inside;
    margin: 0;
    /* grid-specific */
    grid-area: feat;
  }
    .card__list {
      padding-left: 0;
      margin-bottom: 0;
    }
    .card__list--link {  
      text-decoration: underline;
    }
  
    .card__btn {
      display: inline-block;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      border: 1px solid transparent;
      padding: 0.35rem 0.7rem;
      margin: 1rem 0;
      font-size: 0.9rem;
      background-color: transparent;
      line-height: 1.5;
      -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out, 
                          border-color .2s ease-in-out, box-shadow .2s ease-in-out;
         -moz-transition: color .2s ease-in-out, background-color .2s ease-in-out, 
                          border-color .2s ease-in-out, box-shadow .2s ease-in-out;
          -ms-transition: color .2s ease-in-out, background-color .2s ease-in-out, 
                          border-color .2s ease-in-out, box-shadow .2s ease-in-out;
           -o-transition: color .2s ease-in-out, background-color .2s ease-in-out, 
                          border-color .2s ease-in-out, box-shadow .2s ease-in-out;
              transition: color .2s ease-in-out, background-color .2s ease-in-out, 
                          border-color .2s ease-in-out, box-shadow .2s ease-in-out;
      text-decoration: none;
      -webkit-text-decoration-skip: objects;
      box-shadow: 0 1rem 3rem var(--shadow)
    }
      @media screen and (prefers-reduced-motion: reduce) {
        .card__btn {
          -webkit-transition: none;
             -moz-transition: none;
              -ms-transition: none;
               -o-transition: none;
                  transition: none;
        }
      }
      .card__btn:hover {
        color: var(--white);
        cursor: pointer;
        -webkit-transform: translateY(-.3rem);
           -moz-transform: translateY(-.3rem);
            -ms-transform: translateY(-.3rem);
             -o-transform: translateY(-.3rem);
                transform: translateY(-.3rem);
      }
      .card__icon {
        margin-right: 0.3rem;
        font-size: 1.3rem;
      }
      .card__btn--light {
        color: var(--light);
        border-color: var(--light);
        padding-top: 0.6rem;
        margin-left: 0;
        /* grid-specific */
        grid-area: btnL;
        justify-self: center;
      }
        .card__btn--light:hover,
        .card__btn--light:focus {
          background-color: var(--light);
          border-color: var(--light--half);
          color: var(--info);
        }
      .card__btn--secondary {
        color: var(--secondary);
        border-color: var(--secondary);
        padding-top: 0.6rem;
        margin-right: 0;
        /* grid-specific */
        grid-area: btnR;
        justify-self: start;
      }
        .card__btn--secondary:hover,
        .card__btn--secondary:focus {
          background-color: var(--info);
          border-color: var(--secondary-half);
        }


/* CONTACTS */

.section__name--contacts {
  margin: 2rem 0;
}

.contacts {
  padding: 5rem 1.5rem;
  color: var(--info);
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.08rem;
  
  /* grid for contacts */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  grid-gap: 0.5rem;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  /* justify-content: space-around; */
  justify-items: space-around;
}
  @media (min-width: 36rem) {
    .contacts {
      padding: 6rem 4rem 3rem 4rem;
    }
  }
  .contacts--background {
    /* background with a gradient */
    background-color: var(--light); /* fallback color */
    background: linear-gradient(217deg, rgba(238, 158, 144, 1), rgba(233, 202, 190,0.7) 50.71%),
                linear-gradient(127deg, rgba(236, 170, 150, 1), rgba(233, 202, 190,0.7) 60.71%),
                linear-gradient(336deg, rgba(233, 202, 190, 0.6), rgba(233, 202, 190,1) 90.71%), 
                center center/cover no-repeat;
    background: -moz-linear-gradient(217deg, rgba(238, 158, 144, 1), rgba(233, 202, 190,0.7) 50.71%),
                -moz-linear-gradient(127deg, rgba(236, 170, 150, 1), rgba(233, 202, 190,0.7) 60.71%),
                -moz-linear-gradient(336deg, rgba(233, 202, 190, 0.6), rgba(233, 202, 190,1) 90.71%), 
                center center/cover no-repeat;
    background: -webkit-linear-gradient(217deg, rgba(238, 158, 144, 1), rgba(233, 202, 190,0.7) 50.71%),
                -webkit-linear-gradient(127deg, rgba(236, 170, 150, 1), rgba(233, 202, 190,0.7) 60.71%),
                -webkit-linear-gradient(336deg, rgba(233, 202, 190, 0.6), rgba(233, 202, 190,1) 90.71%), 
                center center/cover no-repeat;
    -webkit-clip-path: polygon(50% 0%, 100% 20%, 100% 100%, 0 100%, 0 20%);
      -moz-clip-path: polygon(50% 0%, 100% 20%, 100% 100%, 0 100%, 0 20%);
            clip-path: polygon(50% 0%, 100% 20%, 100% 100%, 0 100%, 0 20%);
    box-shadow: 0 1rem 3rem var(--shadow);
    -webkit-background-size: cover;
      -moz-background-size: cover;
        -o-background-size: cover;
            background-size: cover;
  }
  @media (min-width: 36rem) {
    .contacts--background {
      -webkit-clip-path: polygon(50% 0%, 100% 35%, 100% 100%, 0 100%, 0 35%);
        -moz-clip-path: polygon(50% 0%, 100% 35%, 100% 100%, 0 100%, 0 35%);
              clip-path: polygon(50% 0%, 100% 35%, 100% 100%, 0 100%, 0 35%);
    }
  }

.contacts__main {
  font-style: normal;
}
  @media (min-width: 26rem) {
    .contacts__main {
      /* grid-specific */
      grid-area: 1 / 1 / span 1 / span 2;
      justify-self: center;
      align-content: space-around;
      text-align: center;
    }
  }
  @media (min-width: 48rem) {
    .contacts__main {
      /* grid-specific */
      grid-area: 1 / 1 / span 2 / span 2;
      justify-self: center;
    }
  }
  @media (min-width: 62rem) {
    .contacts__main {
      /* grid-specific */
      grid-area: 1 / 1 / span 3 / span 2;
      align-self: center;
    }
  }
  .contacts__name {
    color: var(--info);
    text-transform: uppercase;
  }
    .contacts__name--first {
      color: var(--danger);
    }
  .contacts__title {
    color: var(--info);
    font-weight: 400;
    letter-spacing: 0.05rem;
    margin-bottom: 1rem;
    border-bottom: thin solid var(--danger);
  }

.contacts__links {
  letter-spacing: 0.05rem;
  width: max-content;
  align-items: center;
  font-family: var(--font-second);
}
  .contacts__links--a {
    font-style: normal;
    text-decoration: none;
    font-size: 1rem;
  }
  .contacts__icon {
    margin: 0.3rem;
    font-size: 1.3rem;
  }

.footer {
  width: 80%;
  text-align: end;
  color: var(--danger);
  padding: 0.5rem;
  margin: 0 0 0 auto;
  font-family: var(--font-second);
  font-size: 0.85rem;
}