/* Variables */
:root {
  --primary: #044D81;
  --primary-half: #044D8181;
  --primary-third: #044D81be;
  --secondary: #AFF6FF;
  --secondary-half: #AFF6FF81;
  --success: #5FBE00;
  --info: #015079;
  --light: #FFEADE;
  --darker: #FFB7B4;
  /* --darker: #FFA8A5; */
  --dark: #D3413C;
  /* --dark: #E75854; */
  --white: #ffffff;
  --black: #000;
  --shadow: #00000015;
  
  --font-first: 'Ubuntu', Verdana, Geneva, Tahoma, sans-serif;
  --font-second: 'Raleway', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Box Model Fix */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: 2px solid var(--dark)!important;  
}

/* Global styles */

html {
  width: 100%;

  /* for ScrollSpy and Nav */
  position: relative !important;
  line-height: 1.15;
  -webkit-tap-highlight-color: transparent;
     -webkit-text-size-adjust: 100%;
         -ms-text-size-adjust: 100%;
           -ms-overflow-style: scrollbar;
}

body {
  /* for the ScrollSpy */
  position: relative;

  /* for the sticky footer */
  margin-bottom: var(--footer-h);

  width: 100%;
  margin: 0;

  /* backgroung with a gradient */
  background-color: var(--primary); /* fallback color */
  background: linear-gradient(125deg,
              var(--primary) 5%, var(--info) 20%, var(--primary) 35%, var(--info) 50%, var(--primary) 65%, var(--info) 80%, var(--primary) 95%), 
              center center/cover no-repeat;
  background: -moz-linear-gradient(125deg,
              var(--primary) 5%, var(--info) 20%, var(--primary) 35%, var(--info) 50%, var(--primary) 65%, var(--info) 80%, var(--primary) 95%), 
              center center/cover no-repeat;
  background: -webkit-linear-gradient(125deg,
              var(--primary) 5%, var(--info) 20%, var(--primary) 35%, var(--info) 50%, var(--primary) 65%, var(--info) 80%, var(--primary) 95%), 
              center center/cover no-repeat;
  -webkit-background-size: cover;
      -moz-background-size: cover;
        -o-background-size: cover;
          background-size: cover;
  color: var(--light);
  text-align: left;
  font-family: var(--font-first);
  font-style: light;
  font-weight: 200;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.08rem;
}

@media screen and (prefers-reduced-motion: reduce) {
  * {
    -webkit-transition: none;
       -moz-transition: none;
         -o-transition: none;
            transition: none;
  }
}

a {
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: var(--white);
}

h4 {
  font-size: 1.1rem;
}

p {
  font-family: var(--font-second);
  font-size: 0.9rem;
}
  @media (min-width: 48rem) {
    p {
      font-size: 1rem;
    }
  }

/* BEMs */

/* Navbar */

.nav {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  margin: 0;
  padding: 0.25rem;
  color: var(--white);
  list-style: none;
}
  @media (min-width: 62rem) {
    .nav {
      padding: 0.5rem 1rem;
    }
  }
  .nav--scrolled {
    background: var(--white); /* fallback color */
    background: var(--primary); /* fallback color */
    background: linear-gradient(135deg, 
                var(--white) 25%, var(--light) 57%, var(--info) 57%, var(--primary) 90%);
    background: -moz-linear-gradient(-45deg, 
                var(--white) 25%, var(--light) 57%, var(--info) 57%, var(--primary) 90%);
    background: -webkit-linear-gradient(-45deg, 
                var(--white) 25%, var(--light) 57%, var(--info) 57%, var(--primary) 90%);
  /* background on scroll */
    -webkit-transition: all 1s linear;
       -moz-transition: all 1s linear;
        -ms-transition: all 1s linear;
         -o-transition: all 1s linear;
            transition: all 1s linear;
            
  }
  @media screen and (prefers-reduced-motion: reduce) {
    .nav--scrolled {
      -webkit-transition: none;
         -moz-transition: none;
          -ms-transition: none;
           -o-transition: none;
              transition: none;
    }
  }
  .nav--shadow {
    box-shadow: 0 0.5rem 1rem var(--shadow) !important;
  }

.nav__container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0.25rem;
}
  @media (min-width: 48rem) {
    .nav__container {
      flex-flow: row nowrap;
      align-items: center;
    }
  }

.nav__logo > h2 {
  display: inline-block;
  margin: 0 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  color: var(--primary);
  font-size: 1.5rem;
  font-weight: 200;
  text-decoration: none;
  line-height: inherit;
  letter-spacing: 0.02rem;
  white-space: nowrap;
}
  @media (min-width: 48rem) {
    .nav__logo > h2 {
      font-size: 1.75rem;
    }
  }
  @media (min-width: 75rem) {
    .nav__logo > h2 {
      font-size: 2rem;
    }
  }
  .nav__logo--name {
    color: var(--dark);
    font-weight: bolder;
  }

/* Animated Hamburger Icon */

.nav__hamburger {
  --color: var(--white) !important;

  margin: 0.25rem;
  padding: 0.25rem;
  background-color: transparent;
  border: 1px solid transparent;
  line-height: 1;
  cursor: pointer;
}
  @media (min-width: 48rem) {
    .nav__hamburger {
      display: none;
      padding: 0.75rem;
    }
  }
  .nav__hamburger:focus,
  .nav__hamburger:hover {
    text-decoration: none;
  }

.nav__hamburger {
  position: relative;
  margin: 0px;
  align-self: center;
  -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
       -o-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
     -moz-transition: .5s ease-in-out;
      -ms-transition: .5s ease-in-out;
       -o-transition: .5s ease-in-out;
          transition: .5s ease-in-out;
  cursor: pointer; 
}
@media screen and (prefers-reduced-motion: reduce) {
  .nav__hamburger {
    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none;
  }
}


/* Full Navbar Menu */

.nav__menu {
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  flex-direction: column;
  margin-left: auto !important;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  transition-property: opacity, filter;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  cursor: pointer;
}
  @media (min-width: 48rem) {
    .nav__menu {
      display: flex !important;
      flex-basis: auto;
      flex-grow: 0;
      flex-direction: row;
    }
  }

.nav-link {
  display: block;
  padding: 0.25rem 1rem;
  color: var(--primary);
  font-family: var(--font-second);
  font-size: 0.9rem;
  text-decoration: none;
}
  @media (min-width: 48rem) {
    .nav-link {
      padding-right: 0.75rem;
      padding-left: 0.75rem;
      color: var(--white);
      font-size: 1rem;
    }
  }
  .nav-link:hover,
  .nav-link:focus {
    background-color: var(--dark);
    color: var(--white);
  }
  .nav-link--active,
  .nav-link.active,
  .nav-link.show {
    color: var(--light);
    text-decoration: underline;
  }
  
/* Collapsing of nav menu */

.nav__menu--collapse {
  display: none;
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.35s ease;
     -moz-transition: all 0.35s ease;
      -ms-transition: all 0.35s ease;
       -o-transition: all 0.35s ease;
          transition: all 0.35s ease;
}
  @media screen and (prefers-reduced-motion: reduce) {
    .nav__menu--collapse {
      -webkit-transition: none;
         -moz-transition: none;
          -ms-transition: none;
           -o-transition: none;
              transition: none;
    }
  }
  @media (min-width: 48rem) {
    .nav__menu--collapse {
      display: block;
      height: auto;
    }
  }

  /* Scroll Spy */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    -webkit-clip: rect(0, 0, 0, 0);
       -moz-clip: rect(0, 0, 0, 0);
            clip: rect(0, 0, 0, 0);
    white-space: nowrap;
  }
  .sr-only-focusable:active, .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    -webkit-clip: auto;
       -moz-clip: auto;
            clip: auto;
    white-space: normal;
  }

/* Scroll Indicator */

.nav__scrolling {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  width: 0%;
  height: 3px;
  background: var(--dark);
}

/* ScrollSpy indicator */

.active {
  color: var(--white);
}
body#scrollSpy {
  position: relative;
}


/* Jumbotron */

.jumbotron {
  min-height: 90vh;
  margin-bottom: 2rem;
  padding: 2rem; /* fallback */
  padding-top: 5rem; /* fallback */
  padding: 35% 5% 10% 5%;
  align-items: center;
  text-align: center;
}
  @media (min-width: 36rem) {
    .jumbotron {
      margin-bottom: 3rem;
      padding: 4rem; /* fallback */
      padding: 15%;
      -webkit-clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
         -moz-clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
              clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
    }
  }
  .jumbotron--background,
  .contacts--background {
    background-color: var(--light); /* fallback color */
    background: linear-gradient(-45deg,
                var(--white) 7.5%, var(--light) 50%, var(--darker) 92.5%),
                center center/cover no-repeat;
    background: -moz-linear-gradient(45deg,
                var(--white) 7.5%, var(--light) 50%, var(--darker) 92.5%),
                center center/cover no-repeat;
    background: -webkit-linear-gradient(45deg,
                var(--white) 7.5%, var(--light) 50%, var(--darker) 92.5%),
                center center/cover no-repeat;
    color: var(--info);
    -webkit-clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
       -moz-clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
            clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
    box-shadow: 0 1rem 3rem var(--shadow);
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }

  .jumbotron__h1 {
    margin: 1.5rem auto;
    padding: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem var(--shadow);
    color: var(--white);
    background: var(--dark);
    text-transform: uppercase;
    font-size: 3.25rem;
    font-weight: bolder;
    line-height: 1.35;
    word-spacing: .2rem;
    letter-spacing: .2rem;
  }
    @media (min-width: 48rem) {
      .jumbotron__h1 {
        font-size: 4.25rem;
      }
    }
    @media (min-width: 75rem) {
      .jumbotron__h1 {
        font-size: 4.5rem;
      }
    }

  .jumbotron__h2 {
    z-index: 2;
    padding: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem var(--shadow);
    color: var(--white);
    background: var(--dark);
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.2;
    word-spacing: .1rem;
    letter-spacing: .1rem;
  }
    @media (min-width: 48rem) {
      .jumbotron__h2 {
        font-size: 2.25rem;
      }
    }
    @media (min-width: 75rem) {
      .jumbotron__h2 {
        font-size: 2.5rem;
      }
    }

  .jumbotron__p {
    font-size: 1.15rem;
  }
    @media (min-width: 48rem) {
      .jumbotron__p {
        font-size: 1.25rem;
      }
    }
    @media (min-width: 75rem) {
      .jumbotron__p {
        font-size: 1.5rem;
      }
    }
    .jumbotron__p--CTA {
      color: var(--dark);
      font-weight: 600;
    }

  .jumbotron__btn {
    display: inline-block;
    z-index: 3;
    margin: 1rem 0.5rem;
    padding: 0.375rem 0.75rem;
    border: 1px solid var(--white);
    box-shadow: 0 1rem 3rem var(--shadow);
    vertical-align: middle;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    white-space: nowrap;
    -webkit-text-decoration-skip: objects;
                 text-decoration: none;
    user-select: none;
    -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out, 
                        border-color .2s ease-in-out, box-shadow .2s ease-in-out;
       -moz-transition: color .2s ease-in-out, background-color .2s ease-in-out, 
                        border-color .2s ease-in-out, box-shadow .2s ease-in-out;
        -ms-transition: color .2s ease-in-out, background-color .2s ease-in-out, 
                        border-color .2s ease-in-out, box-shadow .2s ease-in-out;
         -o-transition: color .2s ease-in-out, background-color .2s ease-in-out, 
                        border-color .2s ease-in-out, box-shadow .2s ease-in-out;
            transition: color .2s ease-in-out, background-color .2s ease-in-out, 
                        border-color .2s ease-in-out, box-shadow .2s ease-in-out;
  }
    @media screen and (prefers-reduced-motion: reduce) {
      .jumbotron__btn {
        -webkit-transition: none;
           -moz-transition: none;
            -ms-transition: none;
             -o-transition: none;
                transition: none;
      }
    }
    .jumbotron__btn:hover,
    .jumbotron__btn:focus {
      background-color: var(--dark);
      border-color: var(--dark);
      color: var(--white);
      outline: 0;
      cursor: pointer;
      -webkit-transform: translateY(-.3rem);
         -moz-transform: translateY(-.3rem);
          -ms-transform: translateY(-.3rem);
           -o-transform: translateY(-.3rem);
              transform: translateY(-.3rem);
    }
    .jumbotron__btn--left {
      background-color: var(--primary);
      border-color: var(--primary);
      color: var(--white);
    }
    .jumbotron__btn--right {
      background-color: var(--dark);
      border-color: var(--white);
      color: var(--white);
    }


/* Sections */

/* PROJECTS */

.projects {
  /* main grid for a section */
  --grid-min-size: 22rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--grid-min-size), 1fr));
  grid-auto-flow: row;
  grid-gap: 4rem;

  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.section__name {
  margin: 1.25rem 0.25rem;
  text-align: center;
}
.section__name--color {
  padding: .5rem 1rem;
  color: var(--primary);
  background: linear-gradient(135deg,
              var(--white) 7.5%, var(--light) 50%, var(--darker) 92.5%);
  background: -moz-linear-gradient(-45deg,
              var(--white) 7.5%, var(--light) 50%, var(--darker) 92.5%);
  background: -webkit-linear-gradient(-45deg,
              var(--white) 7.5%, var(--light) 50%, var(--darker) 92.5%);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bolder;
  line-height: 1.2;
  word-spacing: 0.1rem;
  letter-spacing: 0.1rem;
}
  @media (min-width: 48rem) {
    .section__name--color {
      margin: 1.5rem 1rem;
      font-size: 1.75rem;
    }
  }
  @media (min-width: 75rem) {
    .section__name--color {
      font-size: 2rem;
    }
  }

.card {
  /* grid for a card */
  display: grid;
  grid-template-columns: 1fr 10fr 1fr 10fr 1fr;
  grid-template-rows: minmax(1rem, auto);
  grid-template-areas: 
    "img img  img  img  img"
    " .  name name name  . "
    " .  date   .    .   . "
    " .  info info info  . "
    " .  role role role  . "
    " .  feat feat feat  . "
    " .  btnL   .  btnR  . ";
  grid-gap: 0.5rem;
  grid-auto-flow: row;
  grid-auto-rows: minmax(1rem, auto);
  margin: 1rem 0;
  justify-items: start;
  align-items: center;
}
  @media (min-width: 20rem) {
    .card {
      grid-gap: 1rem;
      margin: 2rem 0;
    }
  }
  @media (min-width: 36rem) {
    .card {
      grid-template-columns: 1fr 10fr 1fr 8fr 3fr 1fr;
      grid-template-rows: minmax(5rem, auto-fill) minmax(1rem, auto);
      grid-template-areas: 
      "img img  img  img  img  img"
      " .  name name date date  . "
      " .  info info feat feat  . "
      " .  role   .  feat feat  . "
      " .    .  btnL btnR  .    . ";
      grid-gap: 1.5rem;
    }
  }
  @media (min-width: 40rem) {
    .card {
      grid-template-columns: 1fr 16fr 8fr 1fr 1fr;
      grid-template-rows: repeat(3,minmax(1rem, min-content)) minmax(1rem, auto);
      grid-template-areas: 
        " .   name name date . "
        "img  img  info info . "
        "img  img  feat feat . "
        "img  img  role role . "
        "img  img  btnL btnR . ";
      grid-gap: 1.5rem;
      align-items: space-between;
    }
  }
  @media (min-width: 48rem) {
    .card {
      /* original grid for a card */
      grid-template-columns: 1fr 10fr 1fr 10fr 1fr;
      grid-template-rows: minmax(1rem, auto);
      grid-template-areas: 
        "img img  img  img  img"
        " .  name name name  . "
        " .  date   .    .   . "
        " .  info info info  . "
        " .  role role role  . "
        " .  feat feat feat  . "
        " .  btnL   .  btnR  . ";
      grid-auto-flow: row;
      grid-auto-rows: minmax(1rem, auto);
      justify-items: start;
      align-content: start;
    }
  }
  
  .card__screenshot {
    display: block;
    width: 100%;
    object-position: top;
    box-shadow: 0 1rem 3rem var(--shadow);

    /* grid-specific */
    grid-area: img;
    align-self: start;

    /* border */
    padding: 0.25rem;
    background-color: var(--light); /* fallback color */
    background: linear-gradient(135deg,
                var(--white) 7.5%, var(--light) 50%, var(--darker) 92.5%);
    background: -moz-linear-gradient(-45deg,
                var(--white) 7.5%, var(--light) 50%, var(--darker) 92.5%);
    background: -webkit-linear-gradient(-45deg,
                var(--white) 7.5%, var(--light) 50%, var(--darker) 92.5%);
    -webkit-background-clip: padding-box;
       -moz-background-clip: padding-box;
            background-clip: padding-box;
  }
  .card__screenshot:hover,
  .card__screenshot:focus {
    outline: 0;
    background-color: transparent;
    cursor: pointer;
    -webkit-transform: translateY(-.3rem);
       -moz-transform: translateY(-.3rem);
        -ms-transform: translateY(-.3rem);
         -o-transform: translateY(-.3rem);
            transform: translateY(-.3rem);
  }

  .card__screenshot--img {
    display: block;
    width: 100%;
    object-position: top;
  }

    .card__name {
      margin: 1rem 0;
      justify-self: start;
      background-color: var(--primary); /* fallback color */
      color: var(--white); /* fallback color */
      background: linear-gradient(135deg,
                  var(--white) 7.5%, var(--light) 50%, var(--dark) 92.5%);
      background: -moz-linear-gradient(-45deg,
                  var(--white) 7.5%, var(--light) 50%, var(--dark) 92.5%);
      background: -webkit-linear-gradient(-45deg,
                  var(--white) 7.5%, var(--light) 50%, var(--dark) 92.5%);
      -webkit-background-clip: text;
         -moz-background-clip: text;
              background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase;
      font-size: 2rem;
      line-height: normal;

      /* grid-specific */
      grid-area: name;
    }

    .card__date {
      margin: 0;
      color: var(--white);
      font-size: 0.8rem;
      font-weight: bold;

      /* grid-specific */
      grid-area: date;
      justify-self: start;
    }
      @media (min-width: 36em) {
        .card__date {
          margin: 1rem 1rem 0 0;
          justify-self: end;
        }
      }
      @media (min-width: 44rem) {
        .card__date {
          margin: 0;
          justify-self: start;
        }
      }

    .card__info {
      margin: 0;
      justify-self: start;

      /* grid-specific */
      grid-area: info;
    }
    .card__roles {
      margin: 0;
      color: var(--light);
      font-family: var(--font-second);
      font-size: 0.9rem;

      /* grid-specific */
      grid-area: role;
    }

  .card__features {
    margin: 0;
    list-style: square inside;
    font-family: var(--font-second);
    font-size: 0.9rem;

    /* grid-specific */
    grid-area: feat;
  }
    .card__list {
      margin-bottom: 0;
      padding-left: 0;
    }
    .card__list--link {  
      text-decoration: underline;
      color: var(--white);
    }
    .card__list--link:focus,  
    .card__list--link:hover {  
      background-color: var(--dark);
    }
  
    .card__btn {
      display: inline-block;
      margin: 1rem 0;
      padding: 0.35rem 0.7rem;
      /* background-color: transparent; */
      border: 1px solid transparent;
      box-shadow: 0 1rem 3rem var(--shadow);
      text-align: center;
      vertical-align: middle;
      font-size: 0.9rem;
      font-weight: 400;
      line-height: 1.5;
      white-space: nowrap;
      -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out, 
                          border-color .2s ease-in-out, box-shadow .2s ease-in-out;
         -moz-transition: color .2s ease-in-out, background-color .2s ease-in-out, 
                          border-color .2s ease-in-out, box-shadow .2s ease-in-out;
          -ms-transition: color .2s ease-in-out, background-color .2s ease-in-out, 
                          border-color .2s ease-in-out, box-shadow .2s ease-in-out;
           -o-transition: color .2s ease-in-out, background-color .2s ease-in-out, 
                          border-color .2s ease-in-out, box-shadow .2s ease-in-out;
              transition: color .2s ease-in-out, background-color .2s ease-in-out, 
                          border-color .2s ease-in-out, box-shadow .2s ease-in-out;
      text-decoration: none;
      -webkit-text-decoration-skip: objects;
    }
      @media screen and (prefers-reduced-motion: reduce) {
        .card__btn {
          -webkit-transition: none;
             -moz-transition: none;
              -ms-transition: none;
               -o-transition: none;
                  transition: none;
        }
      }
      .card__btn:focus,
      .card__btn:hover {
        background-color: var(--dark);
        border-color: var(--dark);
        color: var(--white);
        cursor: pointer;
        -webkit-transform: translateY(-.3rem);
           -moz-transform: translateY(-.3rem);
            -ms-transform: translateY(-.3rem);
             -o-transform: translateY(-.3rem);
                transform: translateY(-.3rem);
      }
      .card__icon {
        margin-right: 0.3rem;
        font-size: 1.3rem;
      }
      .card__btn--left {
        margin-left: 0;
        padding-top: 0.6rem;
        color: var(--info);
        border-color: var(--info);
        background-color: var(--white);
        /* color: var(--white);
        border-color: var(--white);
        background-color: var(--info); */

        /* grid-specific */
        grid-area: btnL;
        justify-self: center;
      }
      .card__btn--right {
        margin-right: 0;
        padding-top: 0.6rem;
        color: var(--info);
        border-color: var(--info);
        background-color: var(--light);
        /* color: var(--light);
        border-color: var(--light);
        background-color: var(--info); */

        /* grid-specific */
        grid-area: btnR;
        justify-self: start;
      }


/* CONTACTS */

.section__name--contacts {
  margin: 2rem 0;
}

.contacts {
  /* grid for contacts */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  grid-gap: 0.5rem;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  justify-items: space-around;

  padding: 5rem 1.5rem;
  color: var(--primary);
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.08rem;
}
  @media (min-width: 36rem) {
    .contacts {
      padding: 6rem 4rem 3rem 4rem;
    }
  }
  .contacts--background {
    /* background with a gradient from .jumbotron */
    -webkit-clip-path: polygon(50% 0%, 100% 20%, 100% 100%, 0 100%, 0 20%);
       -moz-clip-path: polygon(50% 0%, 100% 20%, 100% 100%, 0 100%, 0 20%);
            clip-path: polygon(50% 0%, 100% 20%, 100% 100%, 0 100%, 0 20%);
    box-shadow: 0 1rem 3rem var(--shadow);
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }
  @media (min-width: 36rem) {
    .contacts--background {
      -webkit-clip-path: polygon(50% 0%, 100% 35%, 100% 100%, 0 100%, 0 35%);
         -moz-clip-path: polygon(50% 0%, 100% 35%, 100% 100%, 0 100%, 0 35%);
              clip-path: polygon(50% 0%, 100% 35%, 100% 100%, 0 100%, 0 35%);
    }
  }

.contacts__main {
  font-style: normal;
}
  @media (min-width: 26rem) {
    .contacts__main {
      /* grid-specific */
      grid-area: 1 / 1 / span 1 / span 2;
      justify-self: center;
      align-content: space-around;
      text-align: center;
    }
  }
  @media (min-width: 48rem) {
    .contacts__main {
      /* grid-specific */
      grid-area: 1 / 1 / span 2 / span 2;
      justify-self: center;
    }
  }
  @media (min-width: 62rem) {
    .contacts__main {
      /* grid-specific */
      grid-area: 1 / 1 / span 3 / span 2;
      align-self: center;
    }
  }
  .contacts__name {
    font-size: 1.75rem;
    color: var(--primary);
    text-transform: uppercase;
  }
    .contacts__name--first {
      color: var(--dark);
    }
  .contacts__title {
    margin-bottom: 1rem;
    border-bottom: thin solid var(--dark);
    color: var(--primary);
    font-weight: 400;
    letter-spacing: 0.05rem;
  }

.contacts__links {
  width: max-content;
  align-items: center;
  font-family: var(--font-second);
  letter-spacing: 0.05rem;
}
  .contacts__links--a {
    font-size: 1rem;
    font-style: normal;
    text-decoration: none;
  }
  .contacts__icon {
    margin: 0.3rem;
    font-size: 1.3rem;
  }

.footer {
  width: 80%;
  margin: 0 0 0 auto;
  padding: 0.5rem;
  color: var(--primary);
  text-align: end;
  font-family: var(--font-second);
  font-size: 0.85rem;
}