/* Variables */
:root {
  --primary: #0870a5;
  --primary-half: #0871a581;
  --primary-third: #0871a5be;
  --secondary: #6FB6D2;
  --secondary-half: #6FB6D281;
  --success: #5FBE00;
  --info: #015079;
  --warning: #EE9E90;
  --danger: #E75854;
  --dark: #242223;
  --light: #e9cabe;
  --light--half: #e9cabe81;
  --offwhite: #dee2e6;
  --white: #f6f8f9;
  --white-half: #f6f8f981;
  --white-third: #f6f8f9be;
  --black: #000;
  --shadow: #00000015;
  
  /* --breakpoint-xs: 0;
  --breakpoint-sm: 576px; = 36rem
  --breakpoint-md: 768px; = 48rem
  --breakpoint-lg: 992px; = 62rem
  --breakpoint-xl: 1200px; = 75rem */
  --font-family-sans-serif: 'Ubuntu', sans-serif;
  --font-family-monospace: 'Ubuntu Mono', monospace;
}

/* Box Model Fix */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* width: 100% !important; */
  position: relative !important;
  height: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
  /* @-ms-viewport {
    width: device-width;
  } */

body {
  margin: 0;
  width: 100vw;
  min-height: 100%;
  font-family: var(--font-family-sans-serif);
  font-style: light;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.5;
  letter-spacing: 0.08rem;
  color: var(--offwhite);
  text-align: left;
  /* for the ScrollSpy */
  position: relative;
  /* for the sticky footer */
  margin-bottom: var(--footer-h);
  background-color: var(--primary);
  background: linear-gradient(125deg,
              var(--primary), var(--info), var(--primary)), 
              center center/cover no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

a {
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--white);
  margin: 0;
}

p {
  font-size: 0.9rem;
}
  @media (min-width: 48rem) {
    p {
      font-size: 1rem;
    }
  }

/* Navbar */

.nav {
  position: fixed;
  width: 100vw;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  padding: 0.25rem;
  margin: -1px;
  list-style: none;
  color: var(--white);
}
  @media (min-width: 62rem) {
    .nav {
      padding: 0.5rem 1rem;
    }
  }
  .nav--scrolled {
    background: linear-gradient(135deg, 
                var(--light) 59%, var(--info) 58%, var(--primary) 90%);
    transition: all .5s;
  }
  .nav--shadow {
    box-shadow: 0 0.5rem 1rem var(--shadow) !important;
    /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important; */
  }

.nav__container {
  width: 100%;
  padding: 0.25rem;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
}
  @media (min-width: 48rem) {
    .nav__container {
      flex-flow: row nowrap;
      align-items: center;
      /* margin: 0 auto; */
    }
  }

.nav__logo > h3 {
  display: inline-block;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin: 0 1rem;
  color: var(--white);
  font-weight: 200;
  font-size: 1.5rem;
  text-decoration: none;
  letter-spacing: 0.02rem;
  line-height: inherit;
  white-space: nowrap;
}
  @media (min-width: 48rem) {
    .nav__logo > h3 {
      font-size: 1.75rem;
    }
  }
  @media (min-width: 75rem) {
    .nav__logo > h3 {
      font-size: 2rem;
    }
  }
  .nav__logo--name {
    color: var(--danger);
    font-weight: bolder;
  }

/* Animated Hamburger Icon */

.nav__toggler {
  padding: 0.25rem;
  margin: 0.25rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  cursor: pointer;
}
  @media (min-width: 48rem) {
    .nav__toggler {
      display: none;
      padding: 0.75rem;
    }
  }
  .nav__toggler:focus,
  .nav__toggler:hover {
    outline: none;
    border: thin solid var(--primary);
    text-decoration: none;
  }

.nav__hamburger {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
       -o-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
     -moz-transition: .5s ease-in-out;
       -o-transition: .5s ease-in-out;
          transition: .5s ease-in-out;
  cursor: pointer; 
}

.nav__hamburger--line {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 0;
  opacity: 0.85;
  left: 0;
  -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
       -o-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
     -moz-transition: .25s ease-in-out;
       -o-transition: .25s ease-in-out;
          transition: .25s ease-in-out;
  background: var(--white);
}

.nav__hamburger--line:nth-child(1) {
  top: 0px;
}
    
.nav__hamburger--line:nth-child(2) {
  top: 10px; 
}

.nav__hamburger--line:nth-child(3) {
  top: 20px; 
}

.nav__hamburger--open .nav__hamburger--line:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
     -moz-transform: rotate(135deg);
       -o-transform: rotate(135deg);
          transform: rotate(135deg); 
}

.nav__hamburger--open .nav__hamburger--line:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.nav__hamburger--open .nav__hamburger--line:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
     -moz-transform: rotate(-135deg);
       -o-transform: rotate(-135deg);
          transform: rotate(-135deg); 
}

/* Collapsing of nav menu */

.collapse:not(.show) {
  display: none;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
  @media screen and (prefers-reduced-motion: reduce) {
    .collapsing {
      transition: none;
    }
  }

/* Full Navbar Menu */

.nav__menu {
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  flex-direction: column;
  /* align-items: center; */
  padding-left: 0;
  margin-left: auto !important;
  margin-bottom: 0;
  list-style: none;
}
  @media (min-width: 48rem) {
    .nav__menu {
      display: flex !important;
      flex-basis: auto;
      flex-grow: 0;
      flex-direction: row;
    }
  }

.nav-link {
  display: block;
  padding: 0.25rem 1rem;
  /* padding-right: 0;
  padding-left: 0; */
  color: var(--primary);
  text-decoration: none;
  font-size: 0.9rem;
}
  @media (min-width: 48rem) {
    .nav-link {
      padding-right: 0.75rem;
      padding-left: 0.75rem;
      color: var(--white-half);
      font-size: 1rem;
    }
  }
  .nav-link:hover,
  .nav-link:focus {
    color: var(--white-third);
    /* color: rgba(255, 255, 255, 0.75); */
  }
  .nav-link--active,
  .nav-link.active,
  .nav-link.show {
    color: var(--white);
  }
  /* Scroll Spy */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  .sr-only-focusable:active, .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal;
  }

/* Scroll Indicator */

.nav__scrolling {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  height: 3px;
  background: var(--danger);
  width: 0%;
}

/* ScrollSpy indicator */

.active {
  color: var(--white);
}
body#scrollSpy {
  position: relative;
}


/* Jumbotron */

.jumbotron {
  max-height: 90vh;
  width: 100vw;
  text-align: center;
  padding: 10rem 1rem 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0 0 0.3rem 0.3rem;
  background-color: var(--light);
  /* background: linear-gradient(217deg, rgba(238, 158, 144, 1), rgba(233, 202, 190,0.5) 70.71%), */
  background: linear-gradient(217deg, rgba(238, 158, 144, 1), rgba(233, 202, 190,0.7) 50.71%),
              linear-gradient(127deg, rgba(236, 170, 150, 1), rgba(233, 202, 190,0.7) 60.71%),
              linear-gradient(336deg, rgba(233, 202, 190, 0.6), rgba(233, 202, 190,1) 90.71%), 
              center center/cover no-repeat;
              /* linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%); */
  color: var(--primary);
  box-shadow: 0 1rem 3rem var(--shadow);
  /* box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175); */
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
  @media (min-width: 36rem) {
    .jumbotron {
      padding: 12rem 1.5rem 5rem 1.5rem;
      margin-bottom: 3rem;
   
    }
 
  }

  .jumbotron__h1 {
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    text-transform: uppercase;
    font-size: 3.25rem;
    font-weight: 200;
    line-height: 1.35;
    letter-spacing: .2rem;
    word-spacing: .2rem;
    box-shadow: 0 0.125rem 0.25rem var(--shadow);
    /* box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); */
    color: var(--white);
    background: var(--danger);
    border-radius: 0.25rem;
 
  }
    @media (min-width: 48rem) {
      .jumbotron__h1 {
        font-size: 4.25rem;
     
      }
   
    }
    @media (min-width: 75rem) {
      .jumbotron__h1 {
        font-size: 6.25rem;
     
      }
   
    }

  .jumbotron__h2 {
    /* margin-top: 4.5rem; */
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.2;
    letter-spacing: .1rem;
    word-spacing: .1rem;
    box-shadow: 0 0.125rem 0.25rem var(--shadow);
    /* box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); */
    color: var(--white);
    background: var(--danger);
    border-radius: 0.25rem;
    z-index: 2;
 
  }
    @media (min-width: 48rem) {
      .jumbotron__h2 {
        font-size: 2.25rem;
     
      }
   
    }
    @media (min-width: 75rem) {
      .jumbotron__h2 {
        font-size: 2.75rem;
     
      }
   
    }

  .jumbotron__p {
    font-size: 1.15rem;
    font-weight: 300; 
 
  }
    @media (min-width: 48rem) {
      .jumbotron__p {
        font-size: 1.25rem;
     
      }
   
    }
    @media (min-width: 75rem) {
      .jumbotron__p {
        font-size: 1.75rem;
     
      }
   
    }

  .jumbotron__btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    margin: 1rem 0.5rem;
    font-size: 1rem;
    color: var(--white);
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, 
                border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-decoration: none;
    -webkit-text-decoration-skip: objects;
    box-shadow: 0 1rem 3rem var(--shadow)
    /* box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.075) */
 
  }
    @media screen and (prefers-reduced-motion: reduce) {
      .jumbotron__btn {
        transition: none;
     
      }
   
    }
    /* .jumbotron__btn:hover,
    .jumbotron__btn:focus {
      outline: 0;
      cursor: pointer;
   
    } */
    .jumbotron__btn--pimary {
      background-color: var(--primary);
   
    }
      .jumbotron__btn-primary:hover,
      .jumbotron__btn-primary:focus {
        color: var(--primary);
        background-color: transparent;
        border-color: var(--primary);
        cursor: pointer;
     
      }
    .jumbotron__btn--danger {
      background-color: var(--danger);
   
    }
      .jumbotron__btn-danger:hover,
      .jumbotron__btn-danger:focus {
        color: var(--danger);
        background-color: transparent;
        border-color: var(--danger);
        cursor: pointer;
     
      }


/* Sections */

.section {
  margin: 1.25rem 0.25rem;
  padding: 0.25rem;
  font-size: 1.75rem;
  font-weight: 100;
  line-height: 1.2;
  letter-spacing: .15rem;
  text-align: left;
  word-spacing: .1rem;
  color: var(--light);
}
  @media (min-width: 48rem) {
    .section {
      font-size: 2rem;
      margin: 1.5rem 1rem;
   
    }
 
  }
  @media (min-width: 75rem) {
    .section {
      font-size: 2.25rem;
   
    }
 
  }

.card {
  /* grid for a card */
  min-height: 90vh;
  width: 100vw;
  display: grid;
  grid-template-rows: repeat(22, 5%); 
  grid-auto-flow: row;
  grid-auto-rows: 5%;
  margin: 1rem 0;
}
  @media (min-width: 36rem) {
    .card {
      grid-template-rows: repeat(10, 5%); 
      margin: 3rem 0;
   
    }
 
  }
  .card--left {
    grid-template-columns: repeat(10, 10%);
 
  }
  @media (min-width: 36rem) {
    .card--left {
      width: 100vw;
      grid-template-columns: repeat(20, 5%);
   
    }
 
  }
  .card__screenshot {
    border-radius: 0 0.25rem 0.25rem 0;
    object-fit: cover;
    object-position: top;
    display: block;
    overflow: hidden;
    width: 100%;
    max-height: 100%;
 
  }
    .card__screenshot--left {
      grid-area: 2 / 1 / 9 / 9;
      align-self: end;
   
    }
    @media (min-width: 36rem) {
      .card__screenshot--left {
        grid-area: 1 / 1 / 11 / 12;
     
      }
   
    }

  .card__tech {
    border-radius: 0.25rem;
    object-fit: scale-down;
    width: 100%;
    max-height: 100%;
 
  }
    .card__tech--right {
      grid-area: 1 / 6 / 2 / 10;
      align-self: start;
      z-index: 10;
   
    }
    @media (min-width: 36rem) {
      .card__tech--right {
        grid-area: 9 / 8 / 13 / 14;
        z-index: 10;
     
      }
   
    }

  .card__about {
    color: var(--offwhite);
    margin: 0;
 
  }
    .card__about--right {
      grid-area: 10 / 2 / 16 / 10;
   
    }
    @media (min-width: 36rem) {
      .card__about--right {
        grid-area: 1 / 14 / 9 / 20;
        align-self: end;
     
      }
   
    }
    .card__about--date {
      color: var(--secondary);
      font-size: 0.8rem;
      margin-bottom: 0;
   
    }

  .card__features {
    font-size: 0.9rem;
 
  }
    .card__features--right {
      grid-area: 17 / 3 / 20 / 10;
      margin: 0;
   
    }
    @media (min-width: 36rem) {
      .card__features--right {
        grid-area: 9 / 16 / 14 / 20;
        margin: 0;
     
      }
   
    }
    .card__list {
      padding-left: 0;
      margin-bottom: 0;
   
    }
  
  .card__btns--right {
    grid-area: 21 / 2 / 22 / 11;
 
  }
  @media (min-width: 36rem) {
    .card__btns--right {
      grid-area: 13 / 5 / 15 / 20;
      justify-self: end;
   
    }
 
  }
    .card__btn {
      display: inline-block;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      /* user-select: none; */
      border: 1px solid transparent;
      padding: 0.35rem 0.7rem;
      margin: 0.5rem;
      font-size: 0.9rem;
      background-color: transparent;
      line-height: 1.5;
      border-radius: 0.25rem;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, 
                  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      text-decoration: none;
      -webkit-text-decoration-skip: objects;
      box-shadow: 0 1rem 3rem var(--shadow)
      /* box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.075) */
   
    }
      @media screen and (prefers-reduced-motion: reduce) {
        .card__btn {
          transition: none;
       
        }
     
      }
      .card__btn--light {
        color: var(--light);
        border-color: var(--light);
        padding-top: 0.6rem;
        margin-left: 0;
     
      }
        .card__btn-light:hover,
        .card__btn-light:focus {
          color: var(--white-third);
          background-color: var(--light);
          border-color: var(--light--half);
          cursor: pointer;
          /* z-index: 2; */
       
        }
      .card__btn--secondary {
        color: var(--secondary);
        border-color: var(--secondary);
        padding-top: 0.6rem;
        margin-right: 0;
     
      }
        .card__btn-secondary:hover,
        .card__btn-secondary:focus {
          color: var(--white-third);
          background-color: var(--secondary);
          border-color: var(--secondary-half);
          cursor: pointer;
          /* z-index: 2; */
       
        }

.icon {
  margin-right: 0.3rem;
  font-size: 1.3rem;
}